<!-- This is the modal form -->
<div class="modal fade" id="propertyFormModal" tabindex="-1" aria-labelledby="propertyFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Detail Form
        </div>
        <form id="propertyForm" method="POST" action="{% url 'home' %}">
          {% csrf_token %}
          <div class="modal-body">
            <!-- Buyer/Seller Selection -->
            <div class="mb-3">
              <label class="form-label">Are you a Buyer or Seller?</label>
              <div>
                {% for customer in customerTypeList %}
                <input type="radio"  name="customer_type" value="{{ customer.type_id }}"  {% if forloop.first %}checked{% endif %} onchange="toggleUserType()">
                <label for="{{ customer.type_name|lower }}">{{ customer.type_name }}</label>
              {% endfor %}
              </div>
            </div>
        
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
              </div>
        
              <div class="col-md-6 mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="tel" class="form-control" id="number" name="number" placeholder="Enter your phone number" required>
              </div>
        
              <div class="mb-3">
                <label for="property" class="form-label">Select Property Type</label>
                <select class="form-select" id="property" name="property" required>
                  <option value="" selected disabled>Choose a Property Type...</option>
                  {% for data in propertyTypeList %}
                  <option value="{{ data.property_type_id }}">{{ data.property_type_name }}</option>
                  {% endfor %}
                </select>
              </div>
        
              <div class="mb-3">
                <label for="locationLabel" class="form-label" id="locationLabel">Where do you want to Buy Property?</label>
              </div>
        
              <div class="col-md-6 mb-3">
                <label for="state" class="form-label">Select State</label>
                <select class="form-select" id="state" name="state" required onchange="fetchCities()">
                  <option value="" selected disabled>Choose a state...</option>
                  {% for state in stateList %}
                  <option value="{{ state.state_id }}">{{ state.state_name }}</option>
                  {% endfor %}
                </select>
              </div>
        
              <div class="col-md-6 mb-3">
                <label for="city" class="form-label">City</label>
                <select class="form-select" id="city" name="city" required onclick="handleCityChange()">
                  <option value="" selected disabled>Choose a City</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <select class="form-select" id="location" name="location" required>
                  <option value="" selected disabled>Choose a Location</option>
                  <option value="">Other</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="ref" class="form-label">Select Reference</label>
                <select class="form-select" id="ref" name="ref" required>
                  <option value="" selected disabled>Choose a Reference...</option>
                  {% for data in ref_list %}
                  <option value="{{ data.reference_id }}">{{ data.reference_name }}</option>
                  {% endfor %}
                </select>
              </div>
        
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter details about the property"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

     // When the tab is switched, change the label text
     function toggleUserType() {
      debugger
    const customer_type = document.querySelector('input[name="customer_type"]:checked').value;
    document.getElementById('locationLabel').textContent = customer_type === '1' ? 'Where do you want to Buy Property?' : 'Where do you want to Sell Property?';
  }
    

    // When the state dropdown changes, make an AJAX request to fetch cities
    

function fetchCities() {
    // Get the selected state ID (assuming it's stored in a variable or accessible globally)
    var state_id = $('#state').val(); 

    if (state_id) {
        $.ajax({
            url: '{% url "get_cities_by_state" %}',
            data: {
                'state_id': state_id
            },
            success: function(response) {
                var cities = response.cities;
                $('#city').html('<option value="" selected disabled>Choose a City</option>'); 
                cities.forEach(function(city) {
                    $('#city').append('<option value="' + city.city_id + '">' + city.city_name + '</option>');
                });
            }
        });
    } else {
        // Handle the case where no state is selected
        $('#city').html('<option value="" selected disabled>Please select a state</option>'); 
    }
}

function fetchCities2() {
    // Get the selected state ID (assuming it's stored in a variable or accessible globally)
    var state_id = $('#statee').val(); 

    if (state_id) {
        $.ajax({
            url: '{% url "get_cities_by_state" %}',
            data: {
                'state_id': state_id
            },
            success: function(response) {
                var cities = response.cities;
                $('#city').html('<option value="" selected disabled>Choose a City</option>'); 
                cities.forEach(function(city) {
                    $('#cityy').append('<option value="' + city.city_id + '">' + city.city_name + '</option>');
                });
            }
        });
    } else {
        // Handle the case where no state is selected
        $('#cityy').html('<option value="" selected disabled>Please select a state</option>'); 
    }
}

function handleCityChange() {
    $('#city').change(function() {
        var city_id = $(this).val(); 

        $('#location').html('<option value="" selected disabled>Choose a location</option>');
        $('#location').append('<option value="">Other</option>');

        if (city_id) {
            $.ajax({
                url: '{% url "get_locations_by_city" %}',
                data: {
                    'city_id': city_id 
                },
                success: function(response) {
                    var locations = response.locations;
                    $('#location').html('<option value="" selected disabled>Choose a location</option>'); 
                    $('#location').append('<option value="">Other</option>'); 
                    locations.forEach(function(location) {
                        $('#location').append('<option value="' + location.location_id + '">' + location.location_name + '</option>');
                    });
                }
            });
        }
    });
}

function handleCityChange2() {
    $('#cityy').change(function() {
        var city_id = $(this).val(); 

        $('#location2').html('<option value="" selected disabled>Choose a location</option>');
        $('#location2').append('<option value="">Other</option>');

        if (city_id) {
            $.ajax({
                url: '{% url "get_locations_by_city" %}',
                data: {
                    'city_id': city_id 
                },
                success: function(response) {
                    var locations = response.locations;
                    $('#location2').html('<option value="" selected disabled>Choose a location</option>'); 
                    $('#location2').append('<option value="">Other</option>'); 
                    locations.forEach(function(location) {
                        $('#location2').append('<option value="' + location.location_id + '">' + location.location_name + '</option>');
                    });
                }
            });
        }
    });
}

  </script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>