{% extends 'login/admin_index.html' %}
{% load static %}


{% block content %}
<div class="content">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0"> l{{request.breadcrumb}}</h5>
        </div>
        <form action="#" autocomplete="off" class="form-validate-jquery" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="mb-4">
                    <label class="fw-bold fs-5">BHK  </label>
                    <div class="col-12"><br>
                        <input type="text" placeholder="Enter Bhk" name="bhk"
                            value="{{departmentDataUpdate.department_name}}" class="form-control" required>
                    </div>
                </div>
                
                
            </div>
            <div class="card-footer d-flex justify-content-end">
                <!-- <button type="reset" class="btn btn-light" id="reset">Reset</button> -->
                {% if departmentDataUpdate.department_id %}
                    <input type="submit"  name="btn_updatedepartment" class="btn btn-primary"  value="Update">

                {% else %}

                <input type="submit"  name="btn_adddepartment" class="btn btn-primary"  value="submit">
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {


    });
</script>

{% endblock content %}